@{
    ViewBag.Title = "Gestion des commissions";
}
@{var roles = Session["listRoles"] as List<string>;}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Gestion des commissions</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<div class="row">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs">
        <li class="active">
          @if (roles.Contains("Gestion_Commission_Consultation"))
            {
            <a href="~/GestionCommission/ParametraCap">Paramétrage Commission</a>
            }
        </li>
        <li>
           @if (roles.Contains("Gestion_Calendrier_Consultation"))
            {
            <a href="~/GestionCommission/CalendrierCap">Calendrier des réunions CAP</a>
              }
        </li>
    </ul>
    <!-- Tab panes -->
    <div class="tab-content">
        <div class="tab-pane fade  in active" id="manage-integrationFE">
            @RenderPage("ParametrageCommission.cshtml")
        </div>

    </div>
</div>

