
@{
    
}

<form name="form-newCandidat" id="form-newCandidat" action="" method="post" class="form-horizontal">
    <div class="table-responsive">
        <div class="form-group">
            <div class="col-md-3">
                <label>Réference arrêté collectif</label>
            </div>
            <div class="col-md-3">
                <input class="form-control" name="RefArrete" type="text" value="00132245" />
            </div>
            <div class="col-md-3">
                <label>Année</label>
            </div>
            <div class="col-md-3">
                <input class="form-control" name="Année" type="text" value="" />
            </div>
        </div>

        <div class="form-group">

            <div class="col-md-3">
                <label for="statutacte">Statut :</label>
            </div>
            <div class="col-md-3">
                <select class="form-control" name="statutacte" id="statutacte">
                    <option value="0">---- S&eacute;lectionnez ----</option>
                    <option value="1">En cours</option>
                    <option value="2">Envoyé pour visa</option>
                    <option value="3">Visé</option>

                </select>
            </div>
        </div>
    </div>
</form>
